<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="bg-light-warning">
        <div class="brand-logo d-flex ">
            <a asp-controller="Home" asp-action="Index" class="text-nowrap logo-img">
                <img src="../../assets/images/logos/hamburger-logo.jpg" width="180" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
               
                <li class="sidebar-item">
                    <a asp-controller="Home" asp-action="Index" class="sidebar-link" aria-expanded="false">
                        <span>
                            <i class="ti ti-layout-dashboard"></i>
                        </span>
                        <span class="hide-menu">Anasayfa</span>
                    </a>
                </li>
                
                
                <li class="sidebar-item">
                    <a asp-controller="Menu" asp-action="Index" class="sidebar-link" aria-expanded="false">
                        <span>
                            <i class="ti ti-tags"></i>
                        </span>
                        <span class="hide-menu">Menüler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a asp-controller="ExtraTopping" asp-action="Index" class="sidebar-link" aria-expanded="false">
                        <span>
                            <i class="ti ti-tags"></i>
                        </span>
                        <span class="hide-menu">Ekstra Malzemeler</span>
                    </a>
                </li>
            </ul>
            
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>