

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="~/client/img/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="~/client/img/about-2.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="~/client/img/about-3.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="~/client/img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Hakkımızda</h5>
                <h1 class="mb-4">Hoşgeldiniz Hamburger Dükkanımıza</h1>
                <p class="mb-4">
                    Lezzetin kalbinde yer alan ve hamburger tutkunlarının vazgeçilmez durağı olan [Hamburger Dükkanı, 2009 yılından bu yana en taze ve en kaliteli malzemelerle hazırlanan eşsiz hamburgerleri sizlere sunmaktadır. Kendine özgü tariflerimizle klasik lezzetleri yeniden yorumlarken, her damak zevkine uygun seçeneklerimizi de menümüzde bulabilirsiniz.

                    Misyonumuz, her ısırıkta unutulmaz bir lezzet deneyimi yaşatmak ve müşterilerimize kendilerini evlerinde gibi hissettirmektir. Bu hedef doğrultusunda, tüm ürünlerimizi günlük olarak taze ve yerel malzemelerle hazırlıyor, hijyen ve kalite standartlarından ödün vermiyoruz.

                    Samimi atmosferimizde, güleryüzlü hizmet anlayışımızla sadece yemek değil, aynı zamanda keyifli anlar ve güzel hatıralar da sunuyoruz. Hamburgerlerimizin yanı sıra geniş içecek ve tatlı seçeneklerimizle de her ziyaretinizi özel kılıyoruz.

                    Bizimle tanışmak ve lezzet yolculuğumuza katılmak için sizleri Hamburger Dükkanımıza bekliyoruz. Çünkü burada, her zaman en iyisini ve en lezzetlisini bulacaksınız.
                </p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                            <div class="ps-4">
                                <p class="mb-0">Years of</p>
                                <h6 class="text-uppercase mb-0">Experience</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                            <div class="ps-4">
                                <p class="mb-0">Popular</p>
                                <h6 class="text-uppercase mb-0">Master Chefs</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" asp-controller="Home" asp-action="About">Devamı</a>
            </div>
        </div>
    </div>
</div>