

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="client/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria- controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav .ms-auto">
            <li class="nav-item active" >
                <a class="nav-link" asp-controller="Home" asp-action="Index">Ev</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="About">Hakkımızda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="coffees.html">Ürünlerimiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="shop.html">Shop</a>
            @* </li>
            <li class="nav-item">
                <a class="nav-link" href="blog.html">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>  *@
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="login_bt">
                <ul>
                    <li>
                        <a asp-controller="User" asp-action="Register"><span class="user_icon"><i class="fa fa-user" aria-hidden="true"></i></span>Kayıt Ol</a>
                    </li>

                </ul>
            </div>
        </form>
    </div>
</nav>


