<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                        <h5>Usta Aşçılarımız</h5>
                        <p>Hamburgercimizde, aşçılarımız her bir lezzeti ustalıkla ve büyük bir tutkuyla hazırlıyor. Taze ve kaliteli malzemelerle yarattıkları benzersiz tatlar, misafirlerimize unutulmaz bir yemek deneyimi sunuyor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                        <h5>Kaliteli yemek</h5>
                        <p>Hamburgercimizde, taze ve kaliteli malzemelerle hazırlanan yemeklerimiz, her lokmada lezzet şöleni sunar. Aşçılarımızın özenle hazırladığı bu benzersiz tatlar, misafirlerimize unutulmaz bir yemek deneyimi yaşatır.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                        <h5>Online Sipariş</h5>
                        <p>Kolay ve hızlı online sipariş sistemimizle, lezzetli hamburgerlerimizi evinizin konforunda keyifle tüketebilirsiniz.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                        <h5>24/7 Hizmet</h5>
                        <p>Hamburgercimizde, 7/24 hizmetimizle günün her saatinde lezzetli hamburgerlerimizle sizi buluşturuyoruz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>