@model UserViewModel
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="contact_taital">Kayıt Ekranı</h1>
            </div>
        </div>
    </div>
    <form asp-controller="User" asp-action="Register" method="post">
        <div class="container-fluid">
            <div class="contact_section_2">
                <div class="row">
                    <div class="col-md-12">

                        <div class="mail_section_1">
                            <input asp-for="Name" type="text" class="mail_text" placeholder="Adınız" name="Your Name">
                            <input asp-for="Surname" type="text" class="mail_text" placeholder="Soyadınız" name="Your SurName">
                            <input asp-for="Email" type="text" class="mail_text" placeholder="E-posta" name="Your Email">
                            <input asp-for="Password" type="text" class="mail_text" placeholder="Şifreniz" name="Your Password">
                            <input asp-for="ConfirmPassword" type="text" class="mail_text" placeholder="Şifre tekrarı" name="Your ConfirmPassword">

                            <div class="send_bt">
                                <button type="submit">Ekle</button>
                                <a asp-controller="Home" asp-action="Index" type="submit" class="btn btn-warning">Geri</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>

</div>
<!-- contact section end -->