@model MVCHamburgerApp.Data.Entities.Menu

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasePrice" class="control-label"></label>
                <input asp-for="BasePrice" class="form-control" />
                <span asp-validation-for="BasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureName" class="control-label"></label>
                <input asp-for="PictureName" class="form-control" readonly="readonly" />
                <span asp-validation-for="PictureName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PictureFile" class="control-label"></label>
                <input asp-for="PictureFile" class="form-control" type="file" />
                <span asp-validation-for="PictureFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById('editForm').addEventListener('submit', function (event) {
            var pictureFile = document.getElementById('PictureFile').value;
            if (!pictureFile) {
                // Resim dosyası seçilmediğinde hata mesajı göster
                var errorSpan = document.querySelector('span[data-valmsg-for="PictureFile"]');
                errorSpan.textContent = 'Lütfen bir resim dosyası seçin veya mevcut resmi kullanın.';
                event.preventDefault();
            }
        });
    </script>
}

