@{
    ViewData["Title"] = "Home Page";
}
@section _BannerSection {
    <!-- banner section start -->
    <div class="banner_section layout_padding">
        <div class="container">
            <div id="banner_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="banner_taital_main">
                                    <h1 class="banner_taital">Hamburger <br>Shop</h1>
                                    <p class="banner_text">Lezzetin sınırlarını zorlayan enfes sliderlar burada! </p>
                                    <div class="btn_main">
                                        <div class="about_bt active"><a href="#">Hakkımızda</a></div>
                                        <div class="callnow_bt"><a href="#">Ürünlerimiz</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="banner_taital_main">
                                    <h1 class="banner_taital">Hamburger <br>Shop</h1>
                                    <p class="banner_text">Tat tutkunlarını baştan çıkaracak sliderlar burada buluşuyor! </p>
                                    <div class="btn_main">
                                        <div class="about_bt active"><a href="#">Hakkımızda</a></div>
                                        <div class="callnow_bt"><a href="#">Ürünlerimiz</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="banner_taital_main">
                                    <h1 class="banner_taital">Hamburger <br>Shop</h1>
                                    <p class="banner_text">Bir ısırıkta mest olacağınız, unutulmaz lezzetlerin gizlendiği sliderlar sizi bekliyor! </p>
                                    <div class="btn_main">
                                        <div class="about_bt active"><a href="#">Hakkımızda</a></div>
                                        <div class="callnow_bt"><a href="#">Ürünlerimiz</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- banner section end -->
}


<div class="about_section layout_padding">
    <div class="container">
        <div class="about_section_2">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_taital_box">
                        <h1 class="about_taital">Hakkımızda</h1>

                        <p class=" about_text">
                            Lezzetin kalbinde yer alan ve hamburger tutkunlarının vazgeçilmez durağı olan [Dükkan İsmi], 20XX yılından bu yana en taze ve en kaliteli malzemelerle hazırlanan eşsiz hamburgerleri sizlere sunmaktadır. Kendine özgü tariflerimizle klasik lezzetleri yeniden yorumlarken, her damak zevkine uygun seçeneklerimizi de menümüzde bulabilirsiniz.
                        </p>
                        <div class="readmore_btn"><a href="#">Read More</a></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image_iman">
                        <img src="client/images/about-img.png" class="about_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- coffee section start -->
<div class="coffee_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="coffee_taital">ÜRÜNLERİMİZ</h1>
            </div>
        </div>
    </div>
    <div class="coffee_section_2">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="client/images/whopper-menu.png"></div>
                                <div class="coffee_box">
                                    <h3 class="types_text">Whopper® Menü</h3>
                                    
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="client/images/TripleWhopperMenu.jpg"></div>
                                <div class="coffee_box">
                                    <h3 class="types_text">Triple Whopper® Menü</h3>
                                    
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="client/images/img-3.png"></div>
                                <div class="coffee_box">
                                    <h3 class="types_text">COFFEE & PASTRY</h3>
                                    <p class="looking_text">looking at its layout. The point of</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="client/images/img-4.png"></div>
                                <div class="coffee_box">
                                    <h3 class="types_text">COFFEE TO GO</h3>
                                    <p class="looking_text">looking at its layout. The point of</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="client/images/img-1.png"></div>
                                <div class="coffee_box">
                                    <h3 class="types_text">TYPES OF COFFEE</h3>
                                    <p class="looking_text">looking at its layout. The point of</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="client/images/img-2.png"></div>
                                <div class="coffee_box">
                                    <h3 class="types_text">BEAN VARIETIES</h3>
                                    <p class="looking_text">looking at its layout. The point of</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="client/images/img-3.png"></div>
                                <div class="coffee_box">
                                    <h3 class="types_text">COFFEE & PASTRY</h3>
                                    <p class="looking_text">looking at its layout. The point of</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="client/images/img-4.png"></div>
                                <div class="coffee_box">
                                    <h3 class="types_text">COFFEE TO GO</h3>
                                    <p class="looking_text">looking at its layout. The point of</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="client/images/img-1.png"></div>
                                <div class="coffee_box">
                                    <h3 class="types_text">TYPES OF COFFEE</h3>
                                    <p class="looking_text">looking at its layout. The point of</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="client/images/img-2.png"></div>
                                <div class="coffee_box">
                                    <h3 class="types_text">BEAN VARIETIES</h3>
                                    <p class="looking_text">looking at its layout. The point of</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="client/images/img-3.png"></div>
                                <div class="coffee_box">
                                    <h3 class="types_text">COFFEE & PASTRY</h3>
                                    <p class="looking_text">looking at its layout. The point of</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="client/images/img-4.png"></div>
                                <div class="coffee_box">
                                    <h3 class="types_text">COFFEE TO GO</h3>
                                    <p class="looking_text">looking at its layout. The point of</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- coffee section end -->
<!-- client section start -->
<div class="client_section layout_padding">
    <div class="container">
        <div id="custom_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="about_taital">MÜŞTERİLER NE DİYOR ?</h1>
                        </div>
                    </div>
                    <div class="client_section_2">
                        <div class="client_taital_main">
                            <div class="client_left">
                                <div class="client_img"><img src="client/images/client-img1.png"></div>
                            </div>
                            <div class="client_right">
                                <h3 class="moark_text">Baran Yılmaz</h3>
                                <p class="client_text">Bu hamburgerci dükkanı her lokmada bir mutluluk sunuyor! Her ziyaretimde lezzetin doruklarına çıkıyorum.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="about_taital">MÜŞTERİLER NE DİYOR ?</h1>
                        </div>
                    </div>
                    <div class="client_section_2">
                        <div class="client_taital_main">
                            <div class="client_left">
                                <div class="client_img"><img src="client/images/client-img1.png"></div>
                            </div>
                            <div class="client_right">
                                <h3 class="moark_text">Emre Çelik</h3>
                                <p class="client_text">Burada servis kalitesi ve lezzet harika! Gerçekten en sevdiğim burgerleri burada buluyorum.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="about_taital">MÜŞTERİLER NE DİYOR ?</h1>
                        </div>
                    </div>
                    <div class="client_section_2">
                        <div class="client_taital_main">
                            <div class="client_left">
                                <div class="client_img"><img src="client/images/client-img1.png"></div>
                            </div>
                            <div class="client_right">
                                <h3 class="moark_text">Serkan Kaya</h3>
                                <p class="client_text">Hamburgerci dükkanının atmosferi çok samimi ve sıcak. Yemeklerinin lezzeti ise dillere destan!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#custom_slider" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#custom_slider" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <br /><br />
    </div>
</div>
<!-- client section end -->

