

<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Sipariş Özeti</h1>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="img/hero.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Teşekkürler</h4>
    <p>Siparişiniz alınmıştır. Hazır olunca size bilgi verilecektir. </p>
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning">Anasayfa</a>